/* Media Screen */

@media (min-width: 300px) {
    .small-screen {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 1rem;
    }

    .avatar-img-style {
        width: 60px;
    }

    .avatar-style {
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
}