@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-y: auto;
}

pre {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: auto;
}

code {
    background-color: rgba(107, 107, 107, 0.197);
    padding: 4px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, rgb(57, 16, 154), rgb(144, 8, 171));
    border-radius: 30px;
}

::-webkit-scrollbar-track {
    background-color: rgba(33, 33, 33, 0);

}

@layer utilities {
    .w-custom-650 {
        width: 650px;
    }

    .w-custom-420 {
        width: 420px;
    }

    .w-custom-300 {
        width: 310px;
    }

    .w-custom-small-screen {
        width: 100%;
    }

    .light-color {
        color: white;
    }

    .dark-color {
        color: rgb(22, 22, 22);
    }
}

@keyframes SlowlyVisibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}